@keyframes text-opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@keyframes searchbar-anim {
    from {
        width: 50px;
    }
    to {
        width: 450px;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    height: 55px;
}

li {
    float: right;
    display: inline;
    min-height: 55px;
    padding-left: 30px;
    padding-right: 10px;
    text-align: center;
    

}
span {
    height: 55px;
    position: relative;
    top: 16px;
}

.text-animation {
    /* animation: text-opacity 5s ease-out */
    /* animation: swing 2s ease-in; */
}

.logo li{
    float: left;
    color: #18222ae6;
    
}

.searchbar {
    padding-right: 50px;
    position: relative;
    padding-top: 0px;
    top: -5px;
}

.searchbar input{
    /* width: 150px;
    padding-left: 40px; */
    
    border-radius: 10px;
    padding-top: 10px;
    border-color: white;
    
}

.searchbar input:focus {
    border-color: aqua;
    border-radius: 10px;
    animation: searchbar-anim 0.5s ease-out;
}

.navbar-div {
    height: 55px;
    background-color: #2e9270;
    color: white;
}

.link-active {
    color: blue;
    
    
}